* {
  margin: 0;
  padding: 0;
}

a {
  outline: none;
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  position: relative;
  overflow: hidden;
  font: 16px 'Rounded', sans-serif;
}

.wrapper {
  height: 100%;
}

.h1 {
  font: 700 4vw 'Rounded', sans-serif;
  letter-spacing: 3px;
  color: #fff;
  text-transform: uppercase;
  text-shadow: 6px 6px 18px #000;
  margin-bottom: 10px;
}

.h3 {
  font: 700 1.5vw 'Rounded', sans-serif;
  letter-spacing: 3px;
  color: #fff;
  text-transform: uppercase;
  text-shadow: 6px 6px 18px #000;
  margin-bottom: 10px;
}

.button {
  padding: 10px 50px;
  text-decoration: none;
  font: 1rem 'Rounded', sans-serif;
  color: #fff;
  background: rgba(255, 255, 255, .3);
  margin-top: 20px;
  box-sizing: border-box;
  display: inline-block;
  border: 1px solid #fff;
  border-radius: 5px;
  transition: 0.5s;
  cursor: pointer;
  outline: none;
}

.button:hover {
  background: rgba(255, 255, 255, .1);
  box-shadow: 0 0 7px #000;
}

.main-content {
  height: 100%;
  transform: translate3d(0, 0, 0);
  transition: 1s;
}

.content-wrapper {
  padding 0 10vw;
  min-height: 100%;
}

.page {
  width: 100%;
  min-height: 100%;
  position: absolute;

  &__text-block {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: 1.5s;
  }

  &__slide-block {
    margin-top: 50vh
    transform: translateY(-50%);
  }

  &__text {
    color: #fff;
    font-size: 1.5em;
    text-shadow: 4px 4px 15px #000;
  }

  &_main {
    top: 0;
    background: url(../img/bg1.jpg) center center no-repeat;
    background-size: cover;
  }

  &_services {
    top: 100%;
    background: url(../img/bg2.jpg) center center no-repeat;
    background-size: cover;
  }

  &_contacts {
    top: 200%;
    background: url(../img/bg1.jpg) center center no-repeat;
    background-size: cover;
  }

  &_teacher {
    top: 0;
    background: url(../img/bg2.jpg) center center no-repeat;
    background-size: cover;
  }
}

.service {
  position: absolute
  display: flex
//background-image: url(../img/bg-gb.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat

  &.gb {
    background-image: url(../img/bg-gb.jpg);
  }

  &.ch {
    background-image: url(../img/bg-china.jpg);
  }

  &.du {
    background-image: url(../img/bg-deuch.jpg);
  }

  &.log {
    background-image: url(../img/bg-log.jpg);
  }

  &__item {
    position: relative
    min-height 100%
    box-sizing border-box
    width: 25%
    border-right: 1px solid rgba(#fff, .2)
    display: block
    transition: .5s

    &:hover .service__wrapper {
      top: 49.5%
    }

    &_gb .service__background {
      background-image: url(../img/bg-gb.jpg);
    }

    &_ch .service__background {
      background-image: url(../img/bg-china.jpg);
    }

    &_du .service__background {
      background-image: url(../img/bg-deuch.jpg)
    }

    &_log .service__background {
      background-image: url(../img/bg-log.jpg);
    }
  }

  &__background {
    width: 100%
    height: 100%
    display: block
    background-size: cover
    background-position-x center
  }

  &__blackout {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, .15);
    z-index: 7777;
  }

  &__wrapper {
    position: absolute
    z-index: 9999
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    width: 80%
    transition .4s
  }

  &__text {
    color: #fff;
  }
}

.header {
  position: fixed;
  z-index: 112;
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
  padding: 0 40px;
//background: rgba(0, 0, 0, .3)
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.7+0,0.6+24,0.5+48,0+100 */
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.6) 24%, rgba(0, 0, 0, 0.5) 48%, rgba(0, 0, 0, 0) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.6) 24%, rgba(0, 0, 0, 0.5) 48%, rgba(0, 0, 0, 0) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.6) 24%, rgba(0, 0, 0, 0.5) 48%, rgba(0, 0, 0, 0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.footer {
  position: fixed;
  z-index: 111;
  bottom: 0;
  width: 100px;
  height: 80px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
  padding: 0 40px;
}

.sidebar {
  position: fixed;
  z-index: 111;
  top: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 50px 40px 0;
}

.logo {
  width: 165px;
  height: 90px;
  background: url(../img/logo.png) center center no-repeat;
  background-size: contain;
  display: inline-block;
}

.blackout {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, .4);
  z-index: 7777;
}

.socials {
  display: flex;
}

.social-link {
  display: block;
  width: 50px;
  height: 50px;
  background-size: contain;
  opacity: .7;
  transition: opacity .3s;

  &_vk {
    background-image: url(../img/icons/vk.png);
  }

  &_tg {
    background-image: url(../img/icons/tg.png);
  }

  &_ig {
    background-image: url(../img/icons/ig.png);
  }
}

.social-link:hover {
  opacity: 1;
}

.mouse {
  width: 16px;
  height: 30px;
  border-radius: 14px;
  border: 2px solid #fff;
  cursor: pointer

  &__roller {
    display: block;
    margin: 5px auto;
    background: #fff;
    opacity: .8;
    position: relative;
    height: 5px;
    width: 2px;
    animation: move-roller 1s infinite;
  }
}

@keyframes move-roller {
  100% {
    opacity: .2;
    height: 4px;
    margin: 10px auto;
  }
}

.mouse-arrow {
  display: block;
  width: 7px;
  height: 7px;
  border-bottom: 2px solid #fff;
  border-right: 2px solid #fff;
  opacity: .2;
  margin-left: 5px;
  transform: rotate(45deg);
  animation-delay: 5s;

  &_top {
    animation: twinkle-arrow-top 1s infinite;
  }

  &_bottom {
    animation: twinkle-arrow-bottom 1s infinite;
  }
}

@keyframes twinkle-arrow-top {
  40% {
    opacity: 1;
  }
  100% {
    opacity: .2;
  }
}

@keyframes twinkle-arrow-bottom {
  80% {
    opacity: 1;
  }
  100% {
    opacity: .2;
  }
}

.teachers {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: relative;
  width: 1060px;
  margin: 0 auto;
  height: 100%;
}

.teacher-item {
  width: 400px;
  height: 800px;
  background-size: contain;
  transition: 1s;
  position: absolute;
}

.teacher-item_1 {
  background: url(../img/2.png) bottom center no-repeat;
  background-size: contain;
  left: 0;
}

.teacher-item_2 {
  background: url(../img/5.png) bottom center no-repeat;
  background-size: contain;
  left: 17vw;
}

.teacher-item_3 {
  background: url(../img/4.png) bottom center no-repeat;
  background-size: contain;
  left: 34vw;
}

.teacher-item_4 {
  background: url(../img/2.png) bottom center no-repeat;
  background-size: contain;
  left: 48vw;
}

.text {
  position: absolute;
  bottom: 50px;
  background: rgba(255, 255, 255, .8);
  width: 0;
  height: 100px;
  border-radius: 5px;
  display: inline-block;
  opacity: 0;
  transition: .8s;
  padding: 15px;
}

.text-title {
  font: 700 1.5em 'Rounded', sans-serif;
  color: #000;
  text-decoration: none;
}

.text-text {
  font: 1em 'Rounded', sans-serif;
  color: #000;
  text-decoration: none;
}

.teacher-item.active {
  width: 450px;
  height: 850px;
  z-index: 20;
}

.teacher-item.disabled {
  opacity: .5;
}

.teacher-item.active .text {
  opacity: 1;
  width: 250px;
}

.phone {
  width: 45vw;
  height: 45vw;
  display: inline-block;
  position: absolute;
  bottom: 0;
  right: 0;
}

.map {
  position: absolute;
  display: block;
  width: 36%;
  height: 64%;
  top: 12%;
  left: 21%;
  z-index: 222;
}

.phone-pic {
  background: url(../img/phone.png) no-repeat;
  background-size: contain;
  position: absolute;
  z-index: 111;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.contact {
  &_iphone,
  &_phone {
    display: block;
    color: #fff;
    font-size: 1.2em;
    margin: 5px 0;
    text-decoration: none;
    transition: 1s;
  }

  &_iphone:hover,
  &_phone:hover {
    text-decoration: underline;
  }

  &:before {
    content: '';
    display: inline-block;
    width: 28px;
    height: 28px;
    background-size: contain;
    vertical-align: middle;
    margin-right: 10px;
  }

  &_iphone:before {
    background-image: url(../img/icons/iphone.png);
  }

  &_phone:before {
    background-image: url(../img/icons/phone.png);
  }

  &_address:before {
    background-image: url(../img/icons/map.png);
  }
}

video {
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  z-index: -555;
}

.menu {
  position: fixed;
  z-index: -8888;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0);
  transition: .5s;

  &__container {
    position: fixed;
    top: 0;
    bottom: 0;
    right: -30%;
    left: 100%;
    background: rgba(0, 0, 0, .95);
    padding: 13vh 5vw;
    z-index: 9999
    transition: all .3s;
  }

  &__inactiveField {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 30%;
    left: 0;
    z-index: 9999
  }

  &__list {
    list-style: none;
    border-bottom: 1px solid rgba(255, 255, 255, .3);
    margin-bottom: 2vh;
  }

  &__socials {
    display: none
  }

  &__item {
    text-transform: uppercase;
    margin-bottom: 2vh;
  }

  &__link {
    color: #fff;
    font-size: 1.5em;
    text-decoration: none;
  }

  &__footer {
    color: #fff;
    font-size: .9em;
    max-width: 257px;
    line-height: 1.5em;
  }

  &__footer-link {
    color: #fff;
    text-decoration none
  }

  &__developer {
    color: #fff;
    font-size: 0.7em;
    position: absolute;
    bottom: 20px;
    margin-top: 2vh;
  }

  &__developer-text {
    opacity: 0.7;
  }
}

.menu.active {
  z-index: 8888;
  background: rgba(0, 0, 0, .4);
}

.menu.active .menu__container {
  right: 0;
  left: 70%;
}

.me {
  color: #fff;
  transition: .2s;
  text-decoration: none
  border-bottom 1px solid rgba(#fff, .7)
  line-height 3px
  opacity: 0.7;
}

.me:hover {
  opacity: 1;
}

.preloader {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  background: rgba(255, 255, 255, 1);
}

.preloader-pic {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
}

@media (max-width: 850px) {
  video {
    display: none
  }

  .h1 {
    font: 700 7.5vw 'Rounded', sans-serif;
    letter-spacing: 0;
    text-shadow: none;
  }

  .h3 {
    font-size 4.5vw
  }

  .button {
    margin-top: 10px
    padding: 8px 0
    font-size 1rem
    text-align: center
    width: 100%
  }

  .hamburger {
    right: 19px;
    top: 18px;
  }

  .header {
    height: 70px;
    padding: 0 10px
  }

  .logo {
    width: 94px;
    height: 45px;
  }

  .phone {
    display: none
  }

  .footer {
    height: 87px
    padding 0 14px
  }

  .sidebar {
    display: none
  }

  .page__text-block {
    padding-right: 10vw
  }

  .page__text {
    font-size 1.1em
  }

  .service {
    flex-direction column
  }

  .service__item {
    width: 100%
    height: 25vh
    min-height auto
  }

  .service__wrapper {
    text-align: center
  }

  .service__text {
    font-size .8em
    display: none
  }

  .menu {
    font-size 1.1em
  }

  .menu__container {
    padding: 13vh 10vw
    text-align: center
  }

  .menu__item {
    margin-bottom: 2vh
  }

  .menu__footer {
    text-align: center
    max-width none
    font-size: .75em
    padding-bottom: 8px
    margin-bottom: 12px
  }

  .menu__developer {
    font-size 0.5em
    bottom: 20px
  }

  .menu.active .menu__container {
    right: 0;
    left: 0;
  }
}

@media (max-width: 500px) {

}